.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 5px 0px 10px;
  }

  .chat-messages-container::-webkit-scrollbar {
    width: 10px;
   }
   
   .chat-messages-container::-webkit-scrollbar-track {
    background: transparent;
   }
   
   .chat-messages-container::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 4px;
   }
   
   .chat-messages-container::-webkit-scrollbar-thumb:hover {
    background: #555;
   }

  .chat-messages-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    border-radius: 8px;
    margin-top: auto;
  }

  .typing-indicator {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #bdbdbd;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 20px;
    max-width: fit-content;
    margin: 8px 0;
  }
  
  .dots::after {
    content: " .";
    animation: dots 1.5s steps(3, end) infinite;
  }
  
  @keyframes dots {
    0% { content: " ."; }
    33% { content: " .."; }
    66% { content: " ..."; }
  }
  
  .chat-message {
    margin: 8px 0px 5px;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
  }
  
  .chat-message.user {
    background-color: #272727;
    color: #bdbdbd;
    align-self: flex-end;
    border-radius: 20px;
    max-width: 70%;
  }
  
  .chat-message.assistant {
    color: #bdbdbd;
    background-color: #1e1e1e;
    border-radius: 20px;
    align-self: flex-start;
    width: 90%;
  }
  
  .chat-input {
    flex: 1;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    background-color: transparent;
    color: #bdbdbd;
    font-family: inherit !important;
    font-size: 16px;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #272727;
    border-radius: 30px;
    height: 30px;
  }
  
  .chat-input::placeholder {
    color: #5f5f5f;;
  }
  
  .send-button {
    background-color: #414040;
    color: #212121;
    border: none;
    box-shadow: none !important;
    width: 30px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }