<mat-toolbar class="custom-toolbar" color="primary">
  <button mat-button class="custom-toolbar-label">AI-Trad Application</button>
  <span class="spacer"></span>
  <button class="custom-toolbar-button" mat-flat-button>
    <label for="file-upload" style="cursor: pointer;">Upload</label>
    <input id="file-upload" type="file" (change)="onFileUpload($event)" style="display: none;" />
  </button>
 </mat-toolbar>
 
 <mat-grid-list cols="3" rowHeight="fit" class="custom-grid">
 
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Original</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-container">
        <textarea
          class="custom-textarea"
          [(ngModel)]="inputText"
        ></textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Original Amended</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea
          [(ngModel)]="additionalInputText"
        ></textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2">
    <mat-card>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="First">
            <textarea class="tab-textarea">Content 1</textarea>
          </mat-tab>
          <mat-tab label="Second">
            <textarea class="tab-textarea">Content 2</textarea>
          </mat-tab>
          <mat-tab label="Third">
            <textarea class="tab-textarea">Content 3</textarea>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Translated</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea
          [value]="translatedText"
          readonly
          (mouseup)="highlightWord($event)"
        ></textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Translated Amended</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea
          [value]="translatedText"
          readonly
          (mouseup)="highlightWord($event)"
        ></textarea>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
 </mat-grid-list>