mat-card {
  border-radius: 20px !important;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #212121 !important;
  display: flex;
  flex-direction: column;
 }

 .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  flex-direction: column;
}

.loader-overlay p {
  margin-top: 10px;
  font-size: 16px;
}
 
 mat-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
 }
 
 mat-tab-group{
  display: flex;
  flex-direction: column;
}
 
 .custom-toolbar {
  background-color: #171717 !important;
  height: 50px !important;
 }
 
 .spacer {
  flex: 1 1 auto;
 }
 
 .custom-toolbar-label {
  color: #d5d5d5 !important;
  margin-top: 5px;
 }
 
 .custom-toolbar-button {
  background-color: #e4aa3e !important;
  color: #212121 !important;
  border-radius: 20px !important;
  margin-top: 5px;
 }

 .chat-button {
  background-color: #e47e3e !important;
  color: #212121 !important;
  margin-left: 10px;
  border-radius: 20px !important;
  margin-top: 5px;
  box-shadow: none;
}
 
 .custom-grid {
  height: calc(100% - 50px);
  width: 100%;
 }
 
 .custom-button {
  border-radius: 20px !important;
 }
 
 mat-card-title {
  font-size: 1.3em !important;
  color: #bdbdbd;
  padding: 10px;
 }
 
 .custom-container {
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
 }
 
 .segment {
  background-color: #272727;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  color: #bdbdbd;
  cursor: pointer;
  transition: background-color 0.3s;
 }
 
 .segment:hover {
  background-color: #e4aa3e;
  color: #000;
 }
 
 .tab-content {
  background-color: #272727;
  border-radius: 8px;
  font-size: 16px;
  color: #bdbdbd;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
 }
 
 .page-wrapper {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
 }
 
 .page-wrapper.animate {
  opacity: 0;
  transform: translateY(5px);
 }
 
 .paginator-custom {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .paginator-custom button {
  cursor: pointer;
  margin: 0 2px;
  color: #808080;
 }
 
 .paginator-custom .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #808080;
 }
 
 .paginator-custom .dot.active {
  background-color: #e4aa3e;
 }
 
 .custom-container::-webkit-scrollbar {
  width: 10px;
 }
 
 .custom-container::-webkit-scrollbar-track {
  background: transparent;
 }
 
 .custom-container::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 4px;
 }
 
 .custom-container::-webkit-scrollbar-thumb:hover {
  background: #555;
 }
 
 .editable-textarea {
  font-family: inherit;
  font-size: inherit;
  color: #212121;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
 }
 
 
 .custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 
 .fab-button {
  background-color: transparent !important;
  color: #bebebe !important;
  box-shadow: none !important;
  margin-right: 8px;
  margin-top: -10px;
 }
 
 /*Right side-nav*/
 .sidenav-right {
  width: 45%; /* Larghezza in percentuale dello schermo */
  background-color: #171717 !important; /* Colore di sfondo */
  color: white;
  overflow-y: auto;
  margin: 5px 5px 0px 5px; 
  height: calc(100% - 60px);
}

 /*Style for laterale setting side nav*/
 .sidenav-left {
  width: 15%; /* Larghezza in percentuale dello schermo */
  height: calc(100% - 70px);
}
 
 .sidenav-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #171717 !important;
}

mat-sidenav {
  background-color: #171717 !important; /* Assicurati che il colore sia uniforme */
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  padding: 8px; /* Aggiungi spazio intorno ai contenuti */
}

mat-sidenav-content {
  flex: 1; /* Permette al contenuto principale di occupare lo spazio rimanente */
  overflow: auto; /* Consente lo scorrimento del contenuto */
  background-color: #171717;
}

mat-grid-list {
  margin: 0; /* Rimuovi margini */
  padding: 0; /* Rimuovi padding */
  box-sizing: border-box;
}

/*Chat Animation*/
mat-grid-tile {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.sidenav-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0px 5px 0px 5px;
}